
a{
    text-decoration: none;
    color: #000;
    &:hover {
      text-decoration: none;
      color: #000;
    }
    &:active {
      text-decoration: none;
      color: #000;
    }
    &:visited {
      text-decoration: none;
      color: #000;
    }
}
.hide{
  display: none;
}
.show{
  display: block;
}

.fileIcon{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
}

i > img{
    width: 40px !important;
    height: 40px !important;
    border: 0;
}

.fullWidth{
  width: 100%;
}
.icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
img{
  border-left: 1px solid #ccc;
  width: 115px !important;
  height: 145px !important;
}

.container {
  position: relative;
  min-height: 150px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
 &:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.relative{
  position: relative;
}

.info{
  width: 150px;
}

.reset{
  margin: 0;
  padding: 0;
}

.container > p {
  margin: 0;
}

.italic {
  font-style: italic;
}

.line {
width: 100%;
}
.bold{
    font-weight: bold;
    margin-right: 22px;   
}