a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
  &:active {
    text-decoration: none;
    color: #000;
  }
  &:visited {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 2px 0;
  padding: 2px 5px;
}

.container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  &:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ccc;
  }
}

.info {
  width: 150px;
}

.reset {
  margin: 0;
  padding: 0;
}

.container > p {
  margin: 0;
}

.italic {
  font-style: italic;
}

.line {
  width: 100%;
}
.bold {
  font-weight: bold;
}
