@import "~@fluentui/react/dist/sass/References.scss";

.webpartPersonalView {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}



section {
  padding: 0 1em !important;
}

.calendar {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}

.filesection {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 5px 10px;
}

.menu_grid {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 1%;
  margin-bottom: 1em;
}

.welcome {
  margin-bottom: 1em;
}
.container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
